<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- xml中可以使用类名的缩写 -->
	<typeAliases>
		<typeAlias type="me.lb.model.system.Perm" alias="Perm"/>
		<typeAlias type="me.lb.model.system.Org" alias="Org"/>
	</typeAliases>
	<!-- 配置映射文件，注意路径与包一致 -->
	<mappers>
		<mapper resource="mappers/common/Base.xml"/>
		<!-- 由于以下两个Dao包含特殊方法，所以需要额外使用xml文件 -->
		<mapper resource="mappers/system/Perm.xml"/>
		<mapper resource="mappers/system/Org.xml"/>
	</mappers>
</configuration> 