package me.lb.service.{Category};

import me.lb.model.{Category}.{UpperCase};
import me.lb.service.common.GenericService;

public interface {UpperCase}Service extends GenericService<{UpperCase}> {

}
