<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/web/admin/common/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/web/admin/common/500.html</location>
	</error-page>

	<!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext-orm.xml
			classpath:applicationContext-spring.xml
			classpath:applicationContext-shiro.xml
			classpath:applicationContext-activiti.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 字符编码设置 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 加大Hibernate的Session生存周期 -->
	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<!-- 如果不指定名字，默认是sessionFactory -->
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<!-- 下边是Spring配置文件中的bean的id -->
			<param-value>sessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 设置Shiro安装框架的过滤器 -->
	<filter>
		<filter-name>shiro</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiro</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 分页过滤器 -->
	<filter>
		<filter-name>pagination</filter-name>
		<filter-class>me.lb.support.system.filter.PaginationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pagination</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 默认不拦截html -->
	<!-- Tomcat, Jetty, JBoss, and GlassFish 默认 Servlet的名字： "default" -->
	<!-- Resin 默认 Servlet的名字： "resin-file" -->
	<!-- WebLogic 默认 Servlet的名字： "FileServlet" -->
	<!-- WebSphere 默认 Servlet的名字： "SimpleFileServlet" -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- SpringMVC配置 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 启动容器时初始化Servlet -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:applicationContext-mvc.xml
			</param-value>
		</init-param>
		<!-- 如果顺序放置到init-param前将报错 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
